/* .Model {
  width: 60%;
  height: 100vh;
  position: sticky;
  top: 60px;
  bottom: 1000px;
  background-color: #fff;
}

.Canvas {
  background-color: #07112d;
}
.Canvas:hover {
  cursor: pointer;
} */
